<section class="container">
  <div class="container__left">
    <h1 class="container__left__title">Olá novamente, faça o login</h1>
    <p class="container__left__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget commodo turpis. Donec accumsan aliquet
      molestie.
    </p>
    <p class="container__left__text">Ainda não tem uma conta?</p>
    <button class="container__left__button">Criar conta</button>
  </div>
  <div class="container__right">
    <app-login-form class="container__form"></app-login-form>
  </div>
</section>

<router-outlet></router-outlet>