<form action="" class="form" autocomplete="off">
    <div class="form__image">
      <fa-icon [icon]="faPencilAlt"></fa-icon>
    </div>

    <div class="form__input-group">
      <input type="text" id="username">
      <label for="username">Nome de usuário</label>
    </div>

    <div class="form__input-group">
      <input type="password" id="password">
      <label for="password">Senha</label>
    </div>

    <div class="form__input-group">
      <input type="password" id="confirm-password">
      <label for="confirm-password">Confirmar Senha</label>
    </div>

    <button class="form__button">Criar conta</button>
  </form>